<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/dashboard">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/analytics" style="color: red"
          >Analytics</a
        >
      </li>
    </ul>
  </div>
</nav>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-default"
      >Starting Year</span
    >
  </div>
  <input
    #input1
    type="text"
    class="form-control"
    aria-label="Default"
    aria-describedby="inputGroup-sizing-default"
  />
</div>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-default"
      >Ending Year</span
    >
  </div>
  <input
    #input2
    type="text"
    class="form-control"
    aria-label="Default"
    aria-describedby="inputGroup-sizing-default"
  />
</div>
<button class="btn btn-success filter" (click)="filter(input1, input2)">
  Filter Years
</button>
<div class="clear"></div>
<br />
<select
  #selectElement
  class="form-select form-select-lg mb-3"
  aria-label=".form-select-lg example"
>
  <option
    *ngFor="let country of countries; index as i"
    value="{{ countryCodes[i] }}"
  >
    {{ country }}
  </option>
</select>
<button class="btn btn-success control" (click)="add(selectElement)">
  Add Country
</button>
<button class="btn btn-danger control" (click)="remove(selectElement)">
  Remove Country
</button>
<button class="btn btn-warning control" (click)="clearAll()">Clear All</button>
<br />
<div id="main"></div>
