<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/dashboard" style="color: red"
          >Dashboard</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/analytics">Analytics</a>
      </li>
    </ul>
  </div>
</nav>

<div id="main"></div>
<select
  #selectRef
  class="form-select form-select-lg mb-3"
  aria-label=".form-select-lg example"
>
  <option
    *ngFor="let country of countries; index as i"
    value="{{ countryCodes[i] }}"
  >
    {{ country }}
  </option>
</select>
<button (click)="drawLine(selectRef)" class="btn btn-success show">
  Show Data
</button>
<div id="second"></div>
<h1>Table For Latest GDP Statistics</h1>
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Country</th>
      <th scope="col">GDP</th>
      <th scope="col">Year</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let country of countries; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ country }}</td>
      <td>${{ gdpValues[i] | numberSuffix }}</td>
      <td>2020</td>
    </tr>
  </tbody>
</table>
